flask>=3.0,<4.0                                                                                                                    
requests                                                                                                                           
paramiko                                                                                                                           
scp                                                                                                                                
chardet                                                                                                                            
PyYAML                                                                                                                             
ruamel.yaml
